.has-float-label {
    display: block;
    position: relative;

    .form-control:focus,
    .custom-select:focus {
        box-shadow: none;
    }

    label,
    >span {
        position: absolute;
        cursor: text;
        font-size: 75%;
        opacity: 1;
        -webkit-transition: all .2s;
        transition: all .2s;
        top: -.5em;
        left: .75rem;
        z-index: 3;
        line-height: 1;
        padding: 0 1px;

        &::after {
            content: " ";
            display: block;
            position: absolute;
            background: #fff;
            height: 2px;
            top: 50%;
            left: -.2em;
            right: -.2em;
            z-index: -1;
        }
    }

    .form-control::-webkit-input-placeholder {
        opacity: 0;
        -webkit-transition: all .2s;
        transition: all .2s;

    }

    .form-control::-moz-placeholder {
        opacity: 0;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    .form-control:-ms-input-placeholder {
        opacity: 0;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    .form-control::placeholder {
        opacity: 0;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder,
    .form-control:placeholder-shown:not(:focus)::-moz-placeholder,
    .form-control:placeholder-shown:not(:focus):-ms-input-placeholder,
    .form-control:placeholder-shown:not(:focus)::placeholder {
        opacity: 0;
    }

    .form-control:placeholder-shown:not(:focus)+* {
        font-size: 100%;
        opacity: .5;
        top: .75rem;
    }
}

.input-group {
    .has-float-label {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin-bottom: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;

        &:not(:last-child),
        &:not(:last-child) .form-control {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            border-right: 0;
        }

        &:not(:first-child),
        &:not(:first-child) .form-control {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }

        .form-control {
            width: 100%;
            border-radius: .25rem;
        }
    }
}
