$primary: #2aa1ff;
$secondary: #000000;
$pink: #fad5ce;
$success: #009f79;
$info: #2f86eb;
$warning: #fac075;
$danger: #ed6b6a;
$light: #f5f5f5;
$body-bg: #f5f5f5;
$body-color: #000000;
$nav-link-color: #000000;
$headings-font-weight: 700;
$card-border-width: 0;
$input-btn-padding-y: 0.5rem;
$font-size-base: 0.875rem;
$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;
$container-max-widths: (
    sm: 100%,
    md: 100%,
    lg: 100%,
    xl: 1140px,
    xxl: 1320px,
);
$modal-content-border-width: 0;
$tooltip-bg: $primary;
$tooltip-color: #fff;
$tooltip-opacity: 1;
