@import 'variables';
@import 'bootstrap_multiselect';

// Bootstrap css files
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

// custom css files
@import '../css/fonts.css';
@import '../css/sb-admin-2.css';

@import 'float-label';

/* General styles */

a:not([href]):not([class]),
a:not([href]) {
    color: $primary;
    cursor: pointer;
    &:hover {
        color: #007bdd;
        text-decoration: underline;
    }
}

.card {
    @extend .shadow-sm;
}

.table-hover tbody td {
    cursor: pointer;
}

.btn-primary {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

/* Make sure buttons have space between them */
button + button,
.btn + .btn,
.tooltipContainer + .tooltipContainer {
    margin-left: 0.5rem;
}

.daily-report__presence-icon .tooltipContainer + .tooltipContainer {
    margin: 0;
}

.tooltip-inner .btn {
    box-shadow: none;
}

nav.navbar {
    box-shadow: 0 0 5px rgb(0 0 0 / 05%);
    background-color: #fff;
    &.navbar-light .navbar-nav .nav-link {
        color: $body-color;
    }
}

.nav-pills .nav-link {
    color: $body-color;
}

.right-nav .btn-link {
    color: $body-color;
}

.table thead th {
    border-top: 0;
}

.filters .form-group {
    margin-bottom: 0;
}

.rotate-left {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    left: -21px;
    top: 39px;
    position: absolute;
    font-size: 1rem;
    display: block;
    width: 100px;
    text-align: center;
    font-weight: 200;
    color: #999;
}

.b-table-sticky-header {
    max-height: calc(100vh - 190px);
}
.appointment {
    background-color: $light;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: $input-border-radius;
    font-size: 0.75rem;

    .time {
        color: $primary;
        font-weight: 700;
        margin-right: 0.5rem;
    }

    .show-details {
        opacity: 0;
    }
    &:hover .show-details {
        opacity: 1;
    }
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}
.form-group > label {
    font-weight: 600;
}
th.rotated-text {
    white-space: nowrap;
    padding: 0 !important;
    font-size: 0.85rem;
}

th.rotated-text > div {
    transform: translate(13px, 0px) rotate(310deg);
    width: 0;
}

.b-sidebar {
    @extend .shadow-sm;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

td.time-input {
    min-width: 256px;

    .input-group {
        flex-wrap: nowrap;
    }
}
.text-main-goal {
    color: #f7db14;
}
.search-icon {
    position: absolute;
    color: #aaa;
    top: 50%;
    margin-top: -7px;
    right: 0.5rem;
    font-size: 1rem;
}
.current-affair {
    color: #000;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #e2e2e2;
}
.edit-current-affair,
.delete-current-affair {
    border: none;
    background-color: transparent;
    color: $text-muted;
}
.delete-current-affair {
    right: -26px;

    &:hover {
        background-color: $danger;
        color: #fff;
    }
}
.edit-current-affair {
    right: -2px;

    &:hover {
        background-color: $secondary;
        color: #fff;
    }
}
.current-affairs-meta {
    color: $text-muted;
    flex-grow: 1;
}
.drag-handle:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

.cursor-pointer {
    cursor: pointer;
}

.report-container {
    position: relative;
    z-index: 99999;
}
.login-logo {
    text-align: center;
    margin: 2rem 0;
}
#evaluation-screen___BV_modal_backdrop_ {
    background-color: $light;
    opacity: 1;
}
#evaluation-screen___BV_modal_content_ {
    box-shadow: $box-shadow;
}
.edit-evaluation {
    max-width: 300px;
}

.evaluation-learning-goal-update,
.MDO-update {
    margin-top: 1rem;

    strong {
        font-weight: 600;
    }
    .toggle-links {
        color: #ddd;
        margin-bottom: 1rem;

        .not-collapsed {
            font-weight: bold;
        }
    }
    .collapse {
        background-color: #fff;
        border-radius: $input-border-radius;
        padding: 1rem;
        margin-top: 1rem;
    }
}
.form-signin {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-weight: 200;
        color: $primary;
        margin-top: 1.5rem;
    }

    form {
        width: 100%;
        max-width: 350px;
        padding: 1rem 2rem;
        margin: auto;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.075);
    }
}
.filters {
    display: flex;

    .multiselect {
        min-width: 220px;
    }

    > div {
        margin-right: 1rem;
    }
}

textarea.form-control {
    overflow-y: auto !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.column-preferences {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #222;
}

.new-note,
.new-note:focus,
.edit-note,
.edit-note:focus {
    color: #000 !important;
    margin-left: 0.25rem !important;
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
}
.edit-note,
.edit-note:focus {
    padding: 0;
    margin-left: 0;
}
.new-note,
.new-note:focus {
    padding-top: 0.75rem !important;
}
.drag-handle {
    padding: 0 0.5rem;
    border: none;
    color: #ddd;
    cursor: grab !important;
    box-shadow: none !important;
}

#reportTable td {
    &.presence {
        .btn {
            box-shadow: none !important;
            border: none;
        }
        .btn-outline-secondary {
            border-radius: 0;
        }
        .btn-group-toggle {
            outline: 1px solid $primary;
            border-radius: $input-border-radius-sm;
        }
        .btn.disabled {
            background-color: #fff;
        }
    }
}
.dashboard-stats [class^='col-'] {
    margin-bottom: 1rem;

    .card {
        box-shadow: none !important;
    }
}
.daily-report__report {
    max-width: 30vw;
}

.daily-report__presence-icon {
    width: 10rem;
}

.time-input-group {
    input[type='time'] {
        max-width: 85px;
    }

    .input-group-append .input-group-text {
        border-right: none;
    }
}
td.client-name {
    position: relative;
    padding-left: 2rem;
    &:before,
    &:after {
        content: '';
        background: #e1e1e1;
        position: absolute;
        left: 1rem;
        height: 5px;
        width: 10px;
        @extend .shadow-sm;
    }
    &:before {
        top: 1.125rem;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    &:after {
        top: calc(1.125rem + 5px);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
.client-note {
    @extend .shadow-sm;
    color: #000;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 1rem;
}
td.report {
    min-width: 220px;
    max-width: 280px;
}

.interval-tooltip {
    position: relative;

    .tooltip-inner > &__btn {
        @extend .rounded-circle;
        position: absolute;
        right: -5px;
        top: -5px;
        padding: 0 0.33rem;
        display: none;
        color: $danger;
    }

    &:hover .tooltip-inner > &__btn {
        display: block;
    }
}

td.presence {
    min-width: 247px;
    height: 73px;
    white-space: nowrap;
}

.nav-search-submit {
    margin-left: -40px;
}
.tabs .flex-column .nav-item {
    &:last-of-type {
        border-bottom: none;
    }

    .nav-link {
        color: $body-color;
        font-weight: 600;
        transition: none;

        &.active {
            color: $primary;
        }
    }
}

.pick-day .nav-link {
    color: $secondary;

    &:hover {
        border-bottom-color: #fff;
    }

    &.active {
        font-weight: 700;
        background-color: transparent;
        border-bottom: 2px solid #fff;
    }
}

li:not(.breadcrumb-item) .nav-link {
    position: relative;
    transition: background-color 0.2s ease-in-out;

    &:not(.active):hover {
        border-radius: $input-border-radius;
        background-color: $light;
    }

    &::after {
        content: '';
        width: calc(100% - 0.5rem);
        height: 3px;
        top: calc(100% + 0.5rem + 3px);
        left: 0.25rem;
        position: absolute;
        background-color: $primary;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }
    &.router-link-active::after {
        opacity: 1;
    }
}

.tooltip .badge,
.reports-table .badge {
    min-width: 24px;
}
.tooltip.b-tooltip {
    opacity: 1;
}

.reports-table-about td {
    white-space: nowrap;
}

#settings-sidenav .nav-link {
    color: $body-color;

    &.active {
        color: $primary;
        font-weight: 600;

        &:hover {
            background-color: $light;
        }
    }

    .svg-inline--fa {
        margin-right: 5px;
    }
}
.table-cell-signal-badge {
    padding: 0.35rem 0.85rem;
    border-radius: 20px;
    color: #ffffff;
    white-space: nowrap;

    &.success {
        background-color: rgba($success, 1);
    }
    &.warning {
        background-color: rgba($warning, 1);
    }
    &.danger {
        background-color: rgba($danger, 1);
    }
}
.schedule-row .client-name {
    font-size: 12px;
}
.filters .multiselect__tag {
    margin: 0;
}
.create-form .form-section {
    @extend .card;
    margin-bottom: 1rem;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.client-edit-tab .form-section {
    margin-bottom: 2rem;
    max-width: 400px;
}
.morning-presence .btn {
    border-bottom: 0;
}

.morning-presence .btn {
    border-bottom-right-radius: 0;
}

.afternoon-presence .btn {
    border-top-right-radius: 0;
}

.evening-presence .btn:last-child {
    border-top-right-radius: 0;
}

.afternoon-presence .btn:first-child,
.morning-presence .btn:first-child,
.evening-presence .btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    width: 64px;
    background-color: #ddd;
}

#clients_table .editable_cell:hover {
    background-color: #f8f9fa !important;
}

#clients_table tbody td {
    padding: 12px;
}

#clients_table tbody td.no_select {
    user-select: none;
}

#clients_table tbody td.comment {
    width: 200px;
}

#clients_table tbody td.context_editing {
    padding: 0;
    select {
        border: 1px solid rgb(206, 212, 218);
        padding-bottom: 11px;
        padding-top: 11px;
        padding-left: 11px;
    }
    .editing_cell_input {
        margin: 0 !important;
        border: 2px solid #ccc !important;
        padding: 10px !important;
        display: inline-block !important;
        background-color: transparent !important;
        box-sizing: border-box !important;
        width: 100% !important;
        border-radius: 4px !important;
    }
    .editing_cell_name {
        width: 100%;
        min-width: 200px;
        display: flex;
        flex-wrap: nowrap;
        .editing_cell_input {
            padding: 10px 4px;
        }
        .editing_cell_input:first-child {
            border-right: 2px solid #ccc;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .editing_cell_input:last-child {
            border-left: 2px solid #ccc;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    .editing_padding {
        padding: 12px;
    }
}

#timetracking,
#presence {
    overflow: hidden;
    z-index: 0;
    position: relative;
    td,
    th {
        position: relative;
    }
    tbody tr:not(.b-table-busy-slot):not(.b-table-empty-slot) {
        td:not(:first-child):not(:nth-child(2)):hover::after,
        th:not(:first-child):not(:nth-child(2)):hover::after {
            content: '';
            position: absolute;
            background-color: $pink;
            left: 0;
            top: -5000px;
            height: 10000px;
            width: 100%;
            z-index: -1;
        }

        &:hover {
            background-color: $pink;
            outline: 3px solid $pink;
        }
    }
    th.rotated-text {
        padding-top: 2rem !important;
    }
    td:not(:first-child) {
        border-left: 1px solid #eee;
        padding: 0 0.5rem;
        vertical-align: middle;
        &.friday:not(:last-of-type()) {
            border-right: 5px solid #eee;
        }
    }
}
.apexcharts-canvas {
    max-width: 100%;
    overflow: hidden;
}
.reports-table tbody td {
    vertical-align: middle;
}
#presence td.name-cell {
    white-space: nowrap;
    width: 1px;
}
#presence td.presence-cell,
#presence thead th {
    padding: 0 !important;
    min-width: 18px;

    .badge {
        border-radius: 2px;
        color: rgba(255, 255, 255, 0.5) !important;
        margin-bottom: 1px;
    }
}
#presence tbody tr {
    // read more about content-visibility at: https://web.dev/content-visibility/
    // TLDR: only calculate css position and size once the line is in the viewport
    //   With lots of small elements this can help boost initial render time by a huge amount
    content-visibility: auto;
    contain-intrinsic-size: 30px;
}

.tab-pane dl.row > dd,
.tab-pane dl.row > dt {
    // border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem;
    margin: 0;
}

.presence-cell > div > div::before {
    content: '' !important;
    padding: 0 !important;
}
.daily-report__presence-icon > div,
.presence-cell > div {
    background-color: $light;
    text-align: center;
    max-width: 65px;
    border-radius: 0.25rem;
    color: #fff;

    > div:not(.tooltipContainer),
    > div > div:not(.tooltipWrapper) {
        padding-bottom: 3px;

        &::before {
            font-size: 9px;
            white-space: nowrap;
            padding: 0 0.25rem;
            margin: 0 0 -0.5rem;
        }

        &:first-of-type::before {
            content: 'ochtend';
        }

        &:nth-of-type(2)::before {
            content: 'middag';
        }

        &:last-of-type::before {
            content: 'avond';
        }
    }

    > div:first-of-type > div:not(.tooltipWrapper) {
        &::before {
            content: 'ochtend';
        }
    }

    > div:nth-of-type(2) > div:not(.tooltipWrapper) {
        &::before {
            content: 'middag';
        }
    }

    > div:last-of-type > div:not(.tooltipWrapper) {
        &::before {
            content: 'avond';
        }
    }

    > div {
        &:first-of-type {
            border-radius: 0.25rem 0.25rem 0 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        &:last-of-type {
            border-radius: 0 0 0.25rem 0.25rem;
        }
    }

    .bg-light {
        color: $text-muted;
    }
}
#search-dropdown {
    position: absolute;
    top: calc(100% + 17px);
    z-index: 9;
    max-height: 400px;
    min-width: 220px;

    &:after {
        bottom: 100%;
        left: 20%;
        border: solid transparent;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
        z-index: 99;
    }
    &:before {
        bottom: calc(100% + 1px);
        left: 20%;
        border: solid transparent;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-bottom-color: #f1f1f1;
        border-width: 10px;
        margin-left: -10px;
        z-index: 50;
    }

    .card-body {
        padding-left: 0;
        padding-right: 0;
        overflow-x: auto;
    }

    h4 {
        margin-bottom: 0;
    }

    .list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.2s ease-in-out;
        border: none;
    }
    .list-group-item:not(.no-hover):hover {
        cursor: pointer;
        background-color: #f1f1f1;
    }
}

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    transition: opacity 0.5s;
}
.fade-leave-active {
    transition: opacity 0.5s;
    opacity: 0;
}
@media (min-width: 768px) {
    .page-wrapper {
        padding-left: 80px;
        padding-bottom: 4rem;
    }
}
@media (max-width: 992px) {
    .modal-lg,
    .modal-xl {
        max-width: 100%;
    }
}

.tribute-container {
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 1000000;
    border-radius: $input-border-radius;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 1rem 0;
    }
    li {
        padding: 0.85rem 2rem;
        cursor: pointer;
    }
    .highlight {
        background-color: $primary;
        color: #fff;
    }
}
